{% extends 'base-connect.html.twig' %}

{% block title %}
    Page de l'article | DevUnblock
{% endblock %}

{% block body %}
    <section class="container mx-auto oneArticle m-3 py-5" style="min-height=100vh">
        <article class="row">
            <div class="col-sm-12 col-md-8">
                <h2 class="display-4 font-italic mb-3">{{ article.articleTitre }}</h2>
                {# <span class="mb-2 publication d-block">Publié par : {{ article.abonne.nom }} {{ article.abonne.prenom }} </span> #}
                <div class="mb-3">Écrit le : {{ article.articleDate | date('d/m/Y') }} à {{ article.articleDate | date('H:i:s') }}</div>
                <p class="mb-5">{{ article.articleContenu|striptags|raw }}</p>
                <a href="{{ path("blog") }}" class="text-decoration-none">Retour aux articles</a>
            </div>
            <div <div class="col-sm-12 col-md-4 mt-5 mt-md-0">
                <img src="{{ article.articleImage }}" class="col-sm-10" alt="">
            </div>
        </article>
    </section>
{% endblock %}
