{% extends 'base-connect.html.twig' %}

{% block title %}
    DevUnBlock | Recherche avancée
{% endblock %}

{% block body %}

<div>
    <div class="presentation-ra shadow p-5 container-fluid ">
        <h1 class="font-italic mt-5 mb-3 container">Vous êtes bloqué sur votre projet par manque de compétences ?</h1>
        <h2 class="font-italic container">Pas de probleme DevUnblock peut vous aider grâce à ça recherche avancée !</h2>
        <p class="mt-3 container">La recherche avancée sert à trouver un autre devellopeur pour échanger votre projet par rapport à vos compétences, que ça soit votre projet ou le projet de votre partenaire vous pourrez aider votre partenaire mais aussi votre partenaire pourra vous aider dans votre projet</p>
    </div>
    <div class="container py-5">
        {{form_start(form, {'attr': {'class': 'col-md-12 mx-auto mt-3'}})}}
            {{form_row(form.filterCompetences,{'label': 'Trouver des dévellopeurs en choississant une ou plusieurs compétences que vous avez besoin pour votre projet'}) }}
            <button type="input" class="btn btn-secondary"> Rechercher </button>
        {{form_end(form)}}
    </div>
    <section class="container-fluid mx-auto ">
        <div class="row mx-auto">
        {% for user in result %}
        {# {{dump(user)}} #}
                <div class="col-md-4 col-lg-3">
                    <div class="card mb-5">

                        {% if user.abonneImage == true  %}
                            <img class="card-img-top img-fluid" style="max-height:225px;  object-fit:cover;" src="{{ asset('uploads/images/' ~ user.abonneImage) }}" alt="Card image cap">
                        {% else %}
                            <img class="card-img-top img-fluid" style="max-height:225px;  object-fit:cover;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="Card image cap">
                        {% endif %}

                        {% if user.abonneImage == 'assets/avatar.png' %}
                            <img class="card-img-top img-fluid" style="max-height:225px;  object-fit:cover;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="Card image cap">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{user.abonneUsername}}</h5>
                            {# <p class="card-text">Recherche une aide pour : {{ user.competences.competence_nom }}</p> #}
                            <p class="card-text">Compétence(s) sur : "Compétence du devellopeur"</p>
                            <a href="{{ path('profil_user',{'id': user.id}) }}" class="btn btn-color-blue">Voir plus</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    </section>
{% endblock %}
